.detail ul{
    width: 100%;
}
.detail{
    background-image: radial-gradient(circle,#f4f4fc, #e4fcfc,#f4f4fc );
}
.cards{
width: 100%;
border: none;
}

.card{
    box-shadow: gray;
    padding: 0 !important;
}
a, a:hover, a:visited{
    color: black;
}

.nav-item:hover{   
     color: rgb(107, 109, 238);

background-color: transparent;
}
a.active{
    color: #149434 !important;
    background-color: transparent !important;
border-bottom: #149434 solid 0.15rem !important;
}

.filter{
    position: relative;
    border: none;
    border-radius: 0.3rem;
    height: 2.5rem;
    color: black;
    font-weight: 500;
    background-color: white;
    box-shadow: grey;
}



.filter-options{
    position: absolute;
    z-index: 10;
}
.filter-options ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 15rem;
    overflow: auto;
    font-size: small;
}

.filter-options ul:last-child{
    padding-bottom: 1rem;
}

.filter-options ul li a{
    color: #149434;
}

.fa-arrow-circle-o-up{
color: red;
}
.project-upload{
background-color:transparent;
border: none;
width: fit-content;
height: fit-content;
font-size: 3rem;

}
.project-upload:focus{
    border: none;
}

@media screen and (max-width: 800px){
    .detail{ 
        padding: 0.5rem !important;
    }

    .nav a{
        padding: 0.5rem !important;
        width: 2rem !important;
    }
}