.forgotpassword{
    background-color: #8ceccc;
    height: 100vh;
}

.forgotpassword input{
    height: 2.5rem ;
    background-color: #ececec;
}
.forgotpassword button{
    background-color: #8ceccc;
    border: rgb(229, 226, 226) solid 0.01rem;
    border-radius: 6px;

    height: 2.5rem;
    width: 100%;
    color: white;
}
.input-group{
    width: 90%;
}
form{
    width: 30rem;
}

a{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}
.signup{
    background-color: #ececec;
    height: 5rem;
}

.input-1{
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
    border: solid rgb(240, 236, 236) 1px !important;
}

.input-2{
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    border: solid rgb(240, 236, 236) 1px !important;

background-color:rgb(251, 249, 249) !important;

}

@media screen and (max-width: 800){
    .input-group{
        width: 100% !important;
    }

    form{
        width: 100% !important;
        margin: 0 !important;
    }
}