.how{
    background-image: radial-gradient(circle,#f4f4fc, #e4fcfc,#f4f4fc );
}

.how > div{
    margin: 3rem;
}

.content{
    margin-left: 10rem !important;
    margin-right: 10rem !important;
padding: 4rem !important;
    width: 70%;
    border-radius: 2rem;
}

.how h2{
    font-size: xx-large;
}
section{
    margin-top: 2rem;
}


@media screen and (max-width: 800px){
    .content{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        width: 100%;
        border-radius: 0.8rem;
    }
    .how{
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        padding-left: 0rem !important;
        padding-right: 0rem !important; 
        width: 100%;
    }
    .how > div{
        margin-top: 2rem !important;
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
        width: 95%;
    }
    
}