button:focus {
    outline: none;
}
nav button:hover{
    background-color: white !important;
}

nav button a{
    color: black;
}
nav button a:hover{
    color:  rgb(107, 109, 238) !important;
    color: black;
    text-decoration: underline;
}

input:focus{
outline: none;
}
a{
    color:white;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
.needs > li{
    margin-bottom: 1.6rem;
    padding-left: 0.3rem;
    font-size: 1.4rem;

}

nav{
    height: 5rem;
}

.first-intro{
    margin-top: 6rem !important;

}
.intro{
    padding-right: 8rem !important;
}
.intro > h2{
    font-size: 1.9rem;
}

.needs{
list-style-type:none;

}
.needs li::before{
    content: "\2713";
    color: red;
    margin-left:-1em ;
    display: inline-block;
    font-weight: 600;
    width: 1em;
    padding: 0 -20px;
}

.start-here{
    background-color: #249c8c;
    color: white;
    font-size: larger;
    height: 3.5rem;
    width: 9rem;
    padding: 0.5;
    border: none;
    border-radius: 0.4rem;
}

.productivity{
    background-color: #e4fcf4;
}

.productivity-cards .card{
    height: 19rem;
} 

.uploads{
    background-color: #e4fcf4;

}
.uploads button{
    margin-top: 2rem;
    background-color: #249c8c;
    border: none;
    border-radius: 0.3rem;
    height: 2.5rem;
    color: white;
    font-weight: 500;
}

footer{
    background: linear-gradient(to right, #44544c, #249c8c);;

color: white !important; 
}

footer li{
    margin-top: 0.6rem;
    font-size: larger;
}

footer a{
    color: white !important; 

}
.counters div {
    padding: 3rem;
}
.counters  h1{
    font-size: 3.5rem;
}

.counters p{
    font-size: larger;
}

.counters a, a:hover, a:visited{
    color: black;
}

*{
    font-family: 'Noto Sans', sans-serif;
}
.hide{
    display: none;
}
.show{
    display: block;
}

@keyframes change {
    from {
    width: 75%;
    }
    to {
    width: 65%;
    }
  }
  
  .hero-image >img {
    animation-name: change;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

@media screen and (max-width: 800px){
    .hero-image{
        display: none;
    }
    .hero-image > img{
        display: none;
    }
    .intro{
        width: 100%;
      padding-right: 1.2rem !important;
      padding-left: 0.8rem !important;

    }
    
    .productivity-cards{
        margin: 0 !important;
        width: 100% !important;
    }

    .productivity-cards .card{
        min-height: 19rem;
        width: 100% !important;
        margin: 0.5rem 0rem 0.5rem 0rem !important;
        padding: 0.8rem !important;
    } 

    

   .productivity-card >div{
    padding: 0rem !important;
    margin: 0rem !important;
    }
    .counters{
        margin-right: 0 !important;
    }
    .uploads div{
        padding: 0.4rem !important;
    }
    .uploads img{
        float: none !important;
        display: block;
  margin-left: auto;
  margin-right: auto !important;
    }
    .uploads button{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}
